h1::first-letter
{
    font-size: 2em;
    font-style: italic;
}
p::first-line
{
    background-color: hsl(60, 100%, 77%);
}
p::selection
{
    color: hsl(114, 100%, 64%);
    background-color: hsl(0, 0%, 60%);
}
/* #fruit li::before
{
    content: "✔️";
} */
#fruit li::marker
{
    content: "✓";
    color: hsl(114, 100%, 64%);
    font-size: 1.2em;
}
#apple::after
{
    content: "🍎";
}
#orange::after
{
    content: "🍊";
}
#banana::after
{
    content: "🍌";
}