h1
{
    /* One Line */
    border: 3px solid hsl(273, 100%, 54%);

    /* Individual lines
    border-style: solid;
    border-width: 3px;
    border-color: hsl(273, 100%, 54%); 
    */
    border-radius: 20px;
}
p
{
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted orange;
    border-right: 3px dotted green;
    border-radius: 10px;
}