body
{
    background-color: hsl(0, 0%, 0%);
}
#box
{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 62%);
    font-size: 13em;
    text-align: center;

    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0, 0, 0, 1.84); /* eletric slide babyyyyy */
    /* Can all be down with IMAGES TOO! */
}
/* #box:hover
{
    animation-name: glow;
    animation-duration: 2s;
} */
/* #box:active
{
    animation-name: glow;
    animation-duration: 2s;
} */

@keyframes slideLeft
{
    from{transform: translateX(300%);}
}
@keyframes slideRight
{
    to{transform: translateX(300%);}
}
@keyframes slideUp
{
    from{transform: translateY(300%);}
}
@keyframes slideDown
{
    to{transform: translateY(300%);}
}

@keyframes rotateX
{
    100%{transform: rotateX(360deg)}
}
@keyframes rotateZ
{
    50%{transform: rotateZ(360deg)}
}

@keyframes grow
{
    50%{transform: scale(2, 2)}
}
@keyframes shrink
{
    50%{transform: scale(0.5, 0.5)}
}

@keyframes fade
{
    50%{opacity: 0;}
}
@keyframes fadeIn
{
    100%{opacity: 1;}
}

@keyframes colorChange
{
    0%{background-color: hsl(0, 100%, 62%);}
    20%{background-color: hsl(35, 100%, 62%);}
    40%{background-color: hsl(63, 100%, 62%);}
    60%{background-color: hsl(103, 100%, 62%);}
    80%{background-color: hsl(201, 100%, 62%);}
    100%{background-color: hsl(268, 100%, 62%);}
}

@keyframes glow
{
    50%{box-shadow: 0px 0px 50px hsl(63, 100%, 62%);}
}